<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Prestamo</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> 
	<style type="text/css">
		.formularios{
			align-content: center;
		}
	</style>
</head>
<body ng-controller="Formularios">


    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" >
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">

                        <li class="active"  style="margin-left: 460px;" >
                            <a href="" > <!--<img src="" width="40">--> Inicio</a>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="ShowForm1()">  <!--<img src="" width="40">--> Préstamo</a>
                        </li>

                  

                        <li class="dropdown">
                            <a class="dropdown-toggle" ng-click="ShowForm2()" data-toggle="dropdown" href="#">  <!--<img src="images/iconos/others.png" width="40">--> Devolución</a>
                        </li> 

                    </ul>
                </div>
            </div>
        </nav>
   
<br><br><br>
		<center>
			<!-- FORMULARIO 1 col-md-offset-4 col-md-3   -->
		<div ng-show="formVisibility1" class="wraper">
			<div class="col-md-offset-2 col-md-8">
				<h2>PRÉSTAMO</h2>
				<legend></legend>
			</div>
			
			<div class="col-md-offset-4 col-md-10">
				<form action="prestamos.php" method="POST">
				<div class="form-group">
					<label class="control-label col-md-2">ID Usuario: </label>
					<div class="col-md-3">
						<input type="number" class="form-control" min="0"  name="usuario" placeholder="1234" >
					</div>
					
				</div><br><br>
					<div class="form-group">
					<label class="control-label col-md-2">ID Libro: </label>				<div class="col-md-3">
							<input type="text" name="libro" class="form-control"  placeholder="1234H">
						</div>
					
					</div>
					<br><br>
					
					<div class="col-md-offset-3 col-md-3">
						<input type="submit" class="btn btn-info" value="Aceptar" name="Aceptar">
					</div>
							
			</form>	
			</div>
					
			
		</div>

		<!-- FORMULARIO 2 -->
		<div ng-show="formVisibility2" class="wraper">
			<div class="col-md-offset-2 col-md-8">
				<h2>DEVOLUCIÓN</h2>
				<legend></legend>
			</div>
			<div class="col-md-offset-4 col-md-10">
				<form action="devolver.php" method="POST">
				<div class="form-group">
					<label class="control-label col-md-2">ID Usuario: </label>
					<div class="col-md-3">
						<input type="number" class="form-control" min="0"  name="usuario" placeholder="1234" >
					</div>
					
				</div><br><br>
					<div class="form-group">
					<label class="control-label col-md-2">ID Libro: </label>				<div class="col-md-3">
							<input type="text" name="libro" class="form-control"  placeholder="1234H">
						</div>
					
					</div>
					<br><br>
					
					<div class="col-md-offset-3 col-md-3">
						<input type="submit" class="btn btn-info" value="Aceptar" name="Aceptar">
					</div>
							
			</form>	
			</div>
			
			
		</div>
		</center>	



	</div>

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min-1.2.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>